*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.top{
    box-shadow: inset rgb(170, 111, 0) 0px 0px 20px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    text-align: center; 
    background-color: rgb(255, 193, 79);
    text-decoration: underline;
}
form{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
label{
    font-weight: bold;
}
img{
    width: 100px;
    margin-top: -10px;
}
table{
    border: 2px solid blue;
}
.expense{
    display: flex;
    justify-content: center;
}
#delbtn{
    background-color: red;
    color: white;
    border: none;
    width: 100%;
}